Problem 1 Sorting:

In [10]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ACER\Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.

In [12]:
# head() gives by default 5 1st data
fare =df['Fare']
fare.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

In [14]:
class_age = df[['Pclass', 'Age']]
class_age.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Problem - 2 - Subsetting:

Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [16]:
survived_gender = df[['Survived', 'Sex']]
survived_gender.head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

In [ ]:
fare_gt_100 = df[df['Fare']>100][['Fare']]
fare_gt_100.head()

         Fare
27   263.0000
31   146.5208
88   263.0000
118  247.5208
195  146.5208

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

In [ ]:
first_class = df[df['Pclass']==1][['Pclass']]
first_class.head()

    Pclass
1        1
3        1
6        1
11       1
23       1

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under

In [7]:
female_under_18 = df[(df['Sex'] == 'female') & (df['Age'] < 18)][['Sex', 'Age']]
female_under_18.head()

       Sex   Age
9   female  14.0
10  female   4.0
14  female  14.0
22  female  15.0
24  female   8.0

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

In [36]:
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])][['Embarked']]
embarked_c_or_s.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [40]:
first_second_class = df[df['Pclass'].isin([1,2])][['Pclass']]#The isin() method checks if the Dataframe contains the specified value(s).
first_second_class.head()

    Pclass
1        1
3        1
6        1
9        2
11       1

Which passenger had the highest fare paid relative to their age?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result

1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).

In [ ]:
df['fare_per_year'] =  df['Fare'] / (df['Age'])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

2. Subset rows where fare per year is higher than 5, assigning this to high fare age.

In [ ]:
high_fare_age = df[df['fare_per_year']>5][['fare_per_year']]
high_fare_age.head()

    fare_per_year
7       10.537500
16      14.562500
27      13.842105
43      13.859733
50       5.669643

3. Sort high fare age by descending fare per year, assigning this to high fare age srt.

In [ ]:
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
high_fare_age_srt.head()

     fare_per_year
305     164.728261
297      75.775000
386      46.900000
164      39.687500
183      39.000000

4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result

In [65]:
df['fare_per_year'] = df['Fare'] / df['Age']  
high_fare_age = df[df['fare_per_year'] > 5]  
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
result = high_fare_age_srt[['Name', 'fare_per_year']]
result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the resut

Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass

In [ ]:
df['fare_per_class'] = df['Fare'] / df['Pclass']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

 Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.

In [ ]:
adult_males = df[(df['Sex']=='male') & (df['Age']>18)][['Sex', 'Age','fare_per_class']]
adult_males.head()

     Sex   Age  fare_per_class
0   male  22.0        2.416667
4   male  35.0        2.683333
6   male  54.0       51.862500
12  male  20.0        2.683333
13  male  39.0       10.425000

 Sort adult males by descending fare per class, assigning this to adult males srt

In [ ]:
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
adult_males_srt.head()

      Sex   Age  fare_per_class
679  male  36.0        512.3292
737  male  35.0        512.3292
27   male  19.0        263.0000
438  male  64.0        263.0000
118  male  24.0        247.5208

4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.

In [ ]:
result = df[df['fare_per_class'].isin(adult_males_srt['fare_per_class'])][['Name','Age','fare_per_class']]
result = result.sort_values(by='fare_per_class', ascending=False)
result.head()

                                   Name   Age  fare_per_class
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
258                    Ward, Miss. Anna  35.0        512.3292
737              Lesurer, Mr. Gustave J  35.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

 Calculate the total Fare paid across all passengers in the Titanic dataset.

In [ ]:
total_fare = df['Fare'].sum()
total_fare

28693.9493

Subset for passengers in first class (Pclass is 1) and calculate their total fare.

In [ ]:
total_firstclass_fare = df[df['Pclass']==1]['Fare'].sum()
total_firstclass_fare

0.6334928771899656

Do the same for second class (Pclass is 2)

In [78]:
total_secondclass_fare = df[df['Pclass']==2]['Fare'].sum()
total_secondclass_fare

3801.8417

third class (Pclass is 3).

In [86]:
total_thirdclass_fare = df[df['Pclass']==3]['Fare'].sum()
total_thirdclass_fare

6714.6951

In [88]:
fare_proportion_thirdclass = total_thirdclass_fare / total_fare
fare_proportion_thirdclass

0.23401083726038366

5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [94]:
# Ensure the 'Fare' column exists
total_fare = df['Fare'].sum() 

total_firstclass_fare = df[df['Pclass']==1]['Fare'].sum()
total_secondclass_fare = df[df['Pclass'] == 2]['Fare'].sum()
total_thirdclass_fare = df[df['Pclass']==3]['Fare'].sum()
fare_proportion_firstclass = total_firstclass_fare / total_fare
fare_proportion_secondclass = total_secondclass_fare / total_fare
fare_proportion_thirdclass = total_thirdclass_fare / total_fare

print(f"{fare_proportion_firstclass } for 1st class")
print(f"{fare_proportion_secondclass  } for 2nd class")
print(f"{fare_proportion_thirdclass } for 3rd class")

0.6334928771899656 for 1st class
0.1324962855496507 for 2nd class
0.23401083726038366 for 3rd class

In [ ]:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).

In [102]:

def categorize_age(age):
    if age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(categorize_age)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,adult

 Calculate the total number of passengers on the Titanic

In [104]:
total_passengers = df['PassengerId'].count()
total_passengers

891

 Count the number of passengers in each age group.

In [106]:
df['age_group'].value_counts()

age_group
adult     590
senior    188
child     113
Name: count, dtype: int64

. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.

In [111]:
adult_proportion = df['age_group'].value_counts()['adult'] / total_passengers
print(adult_proportion*100)

66.21773288439955

In [113]:
senior_proportion = df['age_group'].value_counts()['senior']/total_passengers
print(senior_proportion*100)

21.099887766554435

In [115]:
child_proportion = df['age_group'].value_counts()['child']/total_passengers
print(child_proportion*100)

12.682379349046016